.App {
  padding: 0;
  margin: 0; }

.nav a {
  color: #707dff;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px; }
  .nav a:hover {
    color: #6e9dff; }
  .nav a.active {
    background-color: #eaeaea;
    border-radius: 5px; }

.content-wrapper {
  padding: 2%;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper .content {
    background-color: #eaeaea;
    border-radius: 50px;
    padding: 4%;
    box-shadow: 0 0 25px #f2f2f2; }

.react-photo-gallery--gallery img {
  box-shadow: 0 0 15px #cecece; }

#lightboxBackdrop img {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }

img {
  border-radius: 25px; }
